@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.yoga-home-page-bg-container {
  background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
  background-size: cover;
  font-family: "Roboto";
  text-align: center;
}

.yoga-home-page-heading {
    font-size: 24px;
    font-weight: bold;
    color: #132d84;
    padding: 48px;
}

.yoga-girl-img {
    height: 300px;
    margin-top: 128px;
}

.yoga-home-page-text-card {
    padding: 30px;
}

.yoga-home-page-text {
    color: #323f4b;
    font-weight: bold;
}

.yoga-home-page-button {
    width: 102px;
    height: 36px;
    font-size: 12px;
    color: #ffedcb;
    background-color: #132d84;
    border: 0px;
    border-radius: 8px;
}

.types-of-yoga-bg-container {
    background-color: #ffedcb;
    background-size: cover;
    font-family: "Roboto";
}

.types-of-yoga-image-card {
    text-align: center;
}

.types-of-yoga-image {
    height: 40vh;
    margin-top: 30px;
}

.types-of-yoga-heading {
    font-size: 26px;
    color: #132d84;
    margin-top: 20px;
}

.types-of-yoga-card {
    background-color: #fad693;
    padding: 10px;
    margin: 20px;
    border-radius: 12px;
}

.types-of-yoga-text-card {
    padding: 12px;
}

.types-of-yoga-card-img {
    height: 20vh;
}

.types-of-yoga-card-heading {
    font-size: 22px;
    color: #253263;
}

.types-of-yoga-card-para {
    font-size: 14px;
    color: #323f4b;
}

.back-button {
    background-color: #132d84;
    color: #ffedcb;
    height: 38px;
    width: 82px;
    border-radius: 8px;
    border: 0px;
}